

<form action="" method="post">
    <input class="form-control" id="id" type="hidden" name="id" required="true" , value={{movie._id}}> </

<script>
  function delete(){
    alert("Movie Deleted Successfully");
  }
</script>
 <!-- hr
  p
    a(href=book.url+'/delete') Delete Book
  p
    a(href=book.url+'/update') Update Book

     <li><a href="{{this.url}}"> Title: {{ this.mov_name }}</a> </li>

form(method='POST' action='')
      button.btn.btn-primary(type='submit') Delete

     -->